@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(account-login) {
    
    @include e(switcher){
        position: absolute;
        top: 16px;
        left: 14px;
    }

    @include e(container) {
        width: 340px;
        margin: 0 auto;
        h2 {
            font-size: 24px;
            text-align: center;
            margin: 0 0 26px;
            color: #999999;
        }

        @include e(sub-links) {
            display: flex;
            justify-content: space-between;
            height: 12px;
            font-size: 12px;
            line-height: 12px;
            span{
                cursor: pointer;
                color: white;
                &:hover{
                    color: $primary;
                }
            }
        }

        @include e(links) {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            span{
                color: white;
                font-size: 12px;
                cursor: pointer;
                &:hover{
                    color: $primary;
                }
            }
        }

        @include e(submit-btn) {
            background-color: $primary;
            color: white;
            height: 40px;
            border-radius: 6px;
            margin-top: 30px;
            cursor: pointer;
            p{
                text-align: center;
                line-height: 40px;
                font-size: 16px;
            }
            &:hover {
                background-color: $primary-light-2;
            }
        }
    }

}