@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(activate) {
    @include e(container) {
        width: 340px;
        margin: 0 auto;
        h2 {
            font-size: 24px;
            text-align: center;
            margin: 0 0 26px;
            color: #999999;
        }
        .info{
            font-size: 14px;
            line-height: 20px;
            span{
                text-decoration: underline;
                color: $primary;
                cursor: pointer;
                &:hover{
                    color: $primary-light-2;
                }
            }
        }
        @include e(submit-btn) {
            background-color: $primary;
            color: white;
            height: 40px;
            border-radius: 6px;
            margin-top: 30px;
            cursor: pointer;
            p{
                text-align: center;
                line-height: 40px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                span.loading{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background: url('../../../assets/img/loading-white.png') center no-repeat;
                    animation: rotate 2s linear infinite;
                    background-size: contain;
                }
            }
            &:hover {
                background-color: $primary-light-2;
            }
        }
    }
}