@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(buy) {
    @include e(container) {
        display: flex;
        justify-content: center;
        .type-switcher{
            margin-top: 0;
            color: #999999;
            position: relative;
            span{
                display: inline-block;
                font-size: 16px;
                padding: 0 17px 8px;
                width: 32px;
                cursor: pointer;
                &.active {
                    color: $primary;
                }
            }
            .active-bottom{
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 64px;
                background-color: $primary;
                transition: all .5s ease-out;
                &.left {
                    left: 0;
                }
                &.right {
                    left: 50%;
                }
            }
        }
    }

    @include e(license-container) {
        margin: 13px 0 0;

        .license-types{
            display: flex;
            justify-content: space-between;
            align-items: center;

            >div {
                width: 140px;
                height: 122px;
                background-color: #333333;
                box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                &.active {
                    background-color: black;
                    width: 134px;
                    height: 116px;
					border: 3px solid $primary;
					position: relative;
					&::after{
						content: '';
						width: 0;
						height: 0;
						width: 33px;
						height: 35px;
						right: 0;
						bottom: 0;
						position: absolute;
						background: url('../../../assets/img/corner-active.png') center no-repeat;
						background-size: cover;
					}
                }

                &.hot {
                    position: relative;
                    .title {
                        &::after{
                            content: '';
                            content: '';
                            width: 0;
                            height: 0;
                            width: 13px;
                            height: 17px;
                            right: 30px;
                            top: 7px;
                            position: absolute;
							background: url('../../../assets/img/fire.svg') center no-repeat;
							background-size: cover;
                        }
                    }
                }
                &:hover {
                    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 1);
                }
                .title{
                    margin: 16px auto 20px;
                    text-align: center;
                    font-size: 15px;
                    line-height: 15px;
                    color: white;
                }
                .price {
                    text-align: center;
                    height: 19px;
                    position: relative;
                    left: 6%;
                    >span{
                        line-height: 19px;
                        display: inline-block;
                        height: 19px;
                    }
                    .currency {
                        color: #F7BB5A;
                        font-size: 9px;
                    }
                    .number {
                        color: #F7BB5A;
                        font-size: 19px;
                    }
                    .original {
                        color: #999999;
                        text-decoration: line-through;
                        font-size: 9px;
                    }
                }
                .limit {
                    text-align: center;
                    font-size: 14px;
                    line-height: 14px;
                    margin-top: 27px;
                    span{
                        color: white;
                    }
                }
            }
        }
	}
	
	@include e(pay-container) {
		margin-top: 25px;
		display: flex;
		.pay-method{
			flex: 0.146;
			p{
				font-size: 14px;
				line-height: 14px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 38px;
				cursor: pointer;
				&.weixin{
					background: url('../../../assets/img/pay/weixin.svg') 12px center no-repeat;
					background-size: 21%;
				}
				&.alipay{
					background: url('../../../assets/img/pay/zhifubao.svg') 12px center no-repeat;
					background-size: 21%;
				}
				&.active {
					cursor: auto;
					background-color: #333333;
				}
			}
		}
		.qrcode-container{
			flex: 0.854;
			height: 171px;
			background-color: #333333;
			.el-loading-mask{
				background: transparent;
			}
		}
	}

}