@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(buy) {
    @include e(container) {
        display: flex;
        justify-content: center;
        .type-switcher{
            margin-top: 0;
            color: #999999;
            position: relative;
            span{
                display: inline-block;
                position: relative;
                font-size: 16px;
                line-height: 16px;
                padding: 0 17px 7px;
                width: 32px;
                cursor: pointer;
                &.active {
                    color: $primary;
                }
                .tooltip{
                    position: absolute;
                    display: inline-block;
                    padding: 0;
                    width: 12px;
                    height: 12px;
                    background: url('../../../assets/img/tooltip.svg') center no-repeat;
                    background-size: contain;
                    top: -2px;
                    left: 54px;
                }
            }
            .active-bottom{
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 64px;
                background-color: $primary;
                transition: all .5s ease-out;
                &.left {
                    left: 0;
                }
                &.right {
                    left: 50%;
                }
            }
        }
    }

    @include e(license-container) {
        margin: 13px 0 0;

        .license-types{
            display: flex;
            justify-content: space-between;
            align-items: center;

            >div {
                width: 140px;
                height: 112px;
                background-color: #333333;
                box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                &.active {
                    background-color: black;
                    width: 134px;
                    height: 106px;
					border: 3px solid $primary;
                    position: relative;
                    .title{
                        color: white!important;
                    }
					&::after{
						content: '';
						width: 0;
						height: 0;
						width: 33px;
						height: 35px;
						right: 0;
						bottom: 0;
						position: absolute;
						background: url('../../../assets/img/corner-active.png') center no-repeat;
						background-size: cover;
					}
                }

                &.hot {
                    position: relative;
                    .title {
                        &::after{
                            content: '';
                            content: '';
                            width: 0;
                            height: 0;
                            width: 13px;
                            height: 17px;
                            right: 30px;
                            top: 7px;
                            position: absolute;
							background: url('../../../assets/img/fire.svg') center no-repeat;
							background-size: cover;
                        }
                    }
                }
                &:hover {
                    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 1);
                }
                .title{
                    margin: 16px auto 20px;
                    text-align: center;
                    font-size: 15px;
                    line-height: 15px;
                    color: #ddd;
                }
                .link{
                    font-size: 14px;
                    text-align: center;
                    color: $primary;
                }
                .price {
                    text-align: center;
                    height: 19px;
                    position: relative;
                    left: 6%;
                    >span{
                        line-height: 19px;
                        display: inline-block;
                        height: 19px;
                    }
                    .currency {
                        color: #F7BB5A;
                        font-size: 12px;
                    }
                    .number {
                        color: #F7BB5A;
                        font-size: 26px;
                        font-weight: normal;
                    }
                    .original {
                        color: #999999;
                        text-decoration: line-through;
                        font-size: 12px;
                    }
                }
                .limit {
                    text-align: center;
                    font-size: 12px;
                    line-height: 12px;
                    margin-top: 18px;
                    span{
                        color: white;
                    }
                }
            }

            &.business {
                justify-content: center;
                >div {
                    margin: 0 7px;
                }
            }
        }
    }
    
    @include e(coupon-input) {
        height: 34px;
        margin-top: 16px;
        border: 1px solid #404040;
        position: relative;
        @include when(tip) {
            border: none;
            height: 36px;
        }
        >p{
            font-size: 14px;
            color: #d0d0d0;
            padding-left: 12px;
            line-height: 36px;
            cursor: pointer;
            display: inline-block;
            &:hover{
                color: white;
            }
        }
        .error{
            position: absolute;
            height: 100%;
            display: inline-block;
            left: 100px;
            height: 36px;
            line-height: 36px;
            font-size: 12px;
            color: #F25657;
        }
        input {
            color: white;
            display: block;
            float: left;
            background: #333333;
            border: none;
            width: calc(100% - 147px);
            height: 100%;
            padding-left: 10px;
            outline: none;
        }
        .coupon-btn{
            display: inline-block;
            text-align: center;
            width: 137px;
            height: 100%;
            line-height: 36px;
            font-size: 14px;
            background-color: #111111;
            color: #b8b8b8;
            cursor: pointer;
            &.active{
                background: $primary;
                color: white;
            }
            &.loading{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.6);
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 24px;
                    height: 24px;
                    margin: auto;
                    background: url('../../../assets/img/loading-white.png') no-repeat center center/24px auto;
                    animation: rotate 2s linear infinite;
                }
            }
        }
    }
	
	@include e(pay-container) {
		margin-top: 12px;
        display: flex;
        position: relative;
		.pay-method{
            width: 96px;
            position: absolute;
            left: 0;
            z-index: 10;
			p{
				font-size: 14px;
				line-height: 14px;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 38px;
                cursor: pointer;
                position: relative;
                left: 1px;
				&.weixin{
					background: url('../../../assets/img/pay/weixin.svg') 12px center no-repeat;
                    background-size: 21%;
                    &.active {
                        padding-top: 14px;
                        padding-bottom: 14px;
                        color: white;
                        cursor: auto;
                        background-color: #333333;
                        background-image: url('../../../assets/img/pay/weixin-active.svg');
                        border-width: 1px 0 1px 1px;
                        border: 1px solid $primary;
                        border-right: none;
                    }
				}
				&.alipay{
					background: url('../../../assets/img/pay/zhifubao.svg') 12px center no-repeat;
                    background-size: 21%;
                    &.active {
                        padding-top: 14px;
                        padding-bottom: 14px;
                        color: white;
                        cursor: auto;
                        background-color: #333333;
                        background-image: url('../../../assets/img/pay/zhifubao-active.svg');
                        border: 1px solid $primary;
                        border-right: none;
                    }
				}
				
			}
		}
		.qrcode-container{
            position: absolute;
            left: 96px;
            width: calc(100% - 98px);
			height: 145px;
            background-color: #333333;
            position: relative;
            border: 1px solid $primary;
			.el-loading-mask{
				background: transparent;
            }
            .qrcode{
                display: inline-block;
                width: 104px;
                height: 104px;
                border: 2px solid #6F6F6F;
                margin-left: 30.5%;
                margin-top: 20px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                .refresh{
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.85);
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        width: 100%;;
                        color: white;
                        display: inline-block;
                        text-align: center;
                    }
                }

                &.placeholder{
                    cursor: pointer;
                    background: url('../../../assets/img/pay/click-login.png') center no-repeat;
                }
            }
            >p{
                font-size: 12px;
                display: inline-block;
                position: absolute;
                bottom: 16px;
                left: 55%;
                color: white;
                span.currency{
                    color: #F7BB5A;
                    font-size: 12px;
                }
                span.mount{
                    color: #F7BB5A;
                    font-size: 20px;
                }
                span.reduce{
                    color: #999999;
                    margin-left: 5px;
                    font-size: 12px;
                }
            }
		}
	}

}