@import "../../mixins/bem.scss";
@import "variables.scss";

@include b(reset-password) {
    @include e(switcher){
        position: absolute;
        top: 16px;
        left: 14px;
    }

    @include e(container) {
        width: 340px;
        margin: 0 auto;
        h2 {
            font-size: 24px;
            text-align: center;
            margin: 18px 0 26px;
            color: #999999;
        }

        @include e(way-switcher){
            width: 75px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto 20px;
            >span{
                display: inline-block;
                width: 30px;
                height: 30px;
                cursor: pointer;
                position: relative;
                &.active{
                    &::after{
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        left: 0;
                        right: 0;
                        bottom: -4px;
                        margin: 0 auto;
                        border-radius: 50%;
                        background: $primary;
                    }
                }
                &.phone {
                    background: url('../../../assets/img/phone.svg') center no-repeat;
                    &.active{
                        background-image: url('../../../assets/img/phone-active.svg');
                    }
                }
                &.email {
                    background: url('../../../assets/img/email.svg') center no-repeat;
                    &.active{
                        background-image: url('../../../assets/img/email-active.svg');
                    }
                }
            }
        }

        @include e(submit-btn) {
            background-color: $primary;
            color: white;
            height: 40px;
            border-radius: 6px;
            margin-top: 50px;
            cursor: pointer;
            p{
                text-align: center;
                line-height: 40px;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                span.loading{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background: url('../../../assets/img/loading-white.png') center no-repeat;
                    animation: rotate 2s linear infinite;
                    background-size: contain;
                }
            }
            &:hover {
                background-color: $primary-light-2;
            }
        }
    }
}